@model IEnumerable<WebApplication1.Models.PersonalDocument>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Personal Number</th>
                <th>Personal Id Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var h in Model.ToList())
            {
                <tr>
                    <td>@h.Person.FirstName @h.Person.LastName</td>
                    <td>@h.Person.PersonalNumber</td>
                    <td>@h.Document.DocumentNumber</td>
                    <td>
                        <a href="../home/details/@h.Id">Details</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

